<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="COM.Sitecore.Commerce.Engine.Connect" version="9.0.2" targetFramework="net462" />
  <package id="COM.Sitecore.Commerce.XA.Foundation.Catalog" version="9.0.2" targetFramework="net462" />
  <package id="COM.Sitecore.Commerce.XA.Foundation.Common" version="9.0.2" targetFramework="net462" />
  <package id="COM.Sitecore.Commerce.XA.Foundation.Connect" version="9.0.2" targetFramework="net462" />
  <package id="SC.Sitecore.Kernel" version="9.0.2" targetFramework="net462" />
</packages>