<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.Commerce.XA.Foundation.Catalog.Pipelines.CatalogPageItemResolver, Sitecore.Commerce.XA.Foundation.Catalog"
                   set:type="Sitecore.Support.Commerce.XA.Foundation.Catalog.Pipelines.CatalogPageItemResolver, Sitecore.Support.42073" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>